<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title>user info</title>
</head>
<body>
	<h3>update user</h3>
	<form th:action="@{/user/edit}" th:object="${user}" method="post">
		<table cellpadding="2" cellspacing="2">
			<tr>
				<td>名称</td>
				<td><input type="text" th:field="*{username}"/></td>
			</tr>
			<tr>
				<td>密码</td>
				<td><input type="password" th:field="*{password}"/></td>
			</tr>
			<tr>
				<td>角色</td>
				<td><input type="number" th:field="*{roleId}"/></td>
			</tr>
			<tr>
				<td><input type="hidden" th:field="*{createTime}"/></td>
				<td>
					<input type="submit" value="Save" />
					<input type="hidden" th:field="*{id}"/>
				</td>
			</tr>
		</table>
	</form>

</body>
</html>